body {
  font-size: 18px;
  font-family: sans-serif;
  background-color: white;
}
h1, h2 {
  text-transform: lowercase;
  display: inline-block;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
  padding: .8em 0;
}
nav {
  font-size: 1.2em;
  float: right;
}
nav a { 
  text-decoration: none;
  color: black;
  margin: 1.2em;
  display: inline-block;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#two_column {
    background-color: pink;
    border: 0px;
    padding: 10px;
}

#left {
    background-color: pink;
    border: 0px;
    padding-right: 0px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    width: 30%;
    font-size: 1em;
    font-weight: bold;
    font-style: sans-serif;
}

#right {
    background-color: pink;
    border: 0px;
    padding: 10px;
    float: right;   
    width: 62%;
    font-size: 1em;
    font-family: sans-serif;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
